asgiref
boto3
botocore
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-database-url
Django
django-cors-headers
django-ses
django-storages
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
gunicorn
idna
jmespath
oauthlib
psycopg2
pycparser
PyJWT
python-dateutil
python-dotenv
python3-openid
pytz
requests
requests-oauthlib
s3transfer
six
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
urllib3
